{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/" id="macmac">Good Neighbor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" style="color: green">Welcome: {{ username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout" style="color: red">Logout</a>
            </li>
        </ul>
        <span class="navbar-text" style="text-decoration: underline;">
            I will be collapsed~
        </span>
    </div>
</nav> --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Good Neighbor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: green">Welcome: {{ username }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#logoutModal" href="" style="color: red">Logout</a>
        </li>
    </ul>
</nav>

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true" style="text-align: left; color: black;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Logout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/signin" id="signin" method="post" name="signin">
                    <div class="form-group">Do you want to logout? </div>
                    <button type="submit" class="btn btn-primary" href="/logout/">Yes</button>&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </form>

            </div>
        </div>
    </div>
</div>

{{!-- <div style="background-color:rgb(217, 217, 247);"> --}}
<div class="container-fluid" style="margin-top: 0px;">

    <div class="card bg-light mb-2 mt-5 mx-auto"
        style="max-width: 50rem; background-color:rgb(217, 217, 247) !important; border-style: none;">
        <!-- PART 1&2 -->
        <div class="card mb-3">
            <!-- ​create post -->
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-seller" role="tabpanel" aria-labelledby="nav-seller-tab">
                    <div class="container mx-auto mt-3">
                        <form>
                            <div class="form-group">
                                <label for="postContent">Create Post </label>
                                <textarea type="text" class="form-control" id="inputnewpost" rows="3"
                                    placeholder="Make a new post..." name="namenewpost"></textarea>
                            </div>
                            <div class="mb-2 float-right">
                                <button type="submit" class="btn btn-outline-success" id="submitnewpost">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
                <!-- ​map show -->
                <div class="tab-pane fade" id="nav-buyer" role="tabpanel" aria-labelledby="nav-buyer-tab">
                    <div class="container mx-auto mt-3">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1"><b>Create Post</b></label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    placeholder="What are you looking for?"></textarea>
                            </div>
                        </form>
                        <div class="mb-2 float-right">
                            <button type="button" class="btn btn-outline-success" id="submit-post">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ​PART 3 -->
        <!-- newpost page -->
        <div class="container p-0">
            <div class="col-md-12">
                <div class="row mb-2">
                    <div id="mapid"></div>

                </div>

                <div class="row">
                    <div class="card bg-light mb-3" style="width: 100%;">
                        <div class="card-header">Posts</div>
                        ​

                        <div class="card-body">
                            <div class="container" style="padding: 20px;">

                                <ul id="ulComment">
                                    {{#each allPost }}
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <li>
                                                <a style="color: green;">
                                                    <{{formatTime this.createdAt "MM-DD-YYYY hh:mm"}}>
                                                        {{this.user.name}}
                                                </a>
                                            </li>
                                        </div>
                                    </nav>
                                    <!-- postview -->
                                    <div class="tab-content" id="nav-tabContent" style="margin-top: 20px;">





                                        <div onclick="exeUpdatePost(this)" id="onclickUpdatePost" data-updatepost="{{this.id}}">
                                            <a
                                                style="font-size: 23px; display: inline">{{this.member_post}}</a><br>
                                            <div style="display: none;">
                                                <input type="text" data-inputupdatepost="{{this.id}}"><button
                                                    type="submit"></button>
                                            </div>
                                        </div>






                                        {{#if_eq this.userId ../userid}}
                                        <button class="btn btn-outline-danger btn-xs" onclick="exeDelPost(this)"
                                            data-delpost="{{this.id}}">Withdraw Post</button>
                                        {{/if_eq}}
                                    </div>
                                    <form style="margin-top: 20px;">
                                        <div class="form-group">
                                            {{!-- <label for="commentContent">: </label> --}}
                                            <input type="text" data-inputcomment="{{this.id}}"
                                                class="form-control inputclass" placeholder="Make new comment here"
                                                name="namenewcomment"></textarea>
                                        </div>
                                        <button type="submit" class="subcomment btn btn-outline-success"
                                            onclick="executeJS(this)" data-submitcomment="{{this.id}}">Submit</button>
                                    </form>
                                    <div class="container pl-0 pr-0">
                                        ​
                                        <button type="button" class="btn btn-light mt-3 active btn-block"
                                            data-toggle="collapse" data-target="#demo">
                                            <div class="glyphicon glyphicon-collapse-down"></div> Show Comments
                                        </button>
                                        ​
                                        <div class="row ml-0 mr-0">
                                            <div id="demo" class="collapse" style="width: 100%;">
                                                <div class="card bg-light mb-3">
                                                    <div class="card-body">
                                                        {{!-- SHOW COMMENT --}}
                                                        {{!-- <div style="margin-top: 20px; margin-bottom: 10px;">Comment:
                                                        </div> --}}
                                                        <ul style="">
                                                            {{#each ../allComment}}
                                                            {{#if_eq this.postId ../this.id}}
                                                            <li style="list-style-type:circle;">
                                                                <a style="color: black">{{this.member_comment}}</a><br>
                                                                <a style="color: grey">
                                                                    <{{formatTime this.createdAt "MM-DD-YYYY hh:mm"}}>
                                                                        {{this.member_name}}
                                                                </a>
                                                            </li>
                                                            {{/if_eq}}
                                                            {{/each}}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    ​ {{/each}}
                                </ul>
                            </div>
                        </div>
                        ​
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- </div> --}}
<br><br>

<script src="/mapjs/"></script>
<script>
    $(document).on("click", "#submitnewpost", (event) => {
        event.preventDefault();

        var newPost = {
            member_post: $("#inputnewpost").val().trim()
        };
        $.ajax("/success/post", {
            type: "POST",
            data: newPost
        }).then(() => {
            location.reload();
        });
    });

    function executeJS(element) {
        var id = $(element).data('submitcomment');
        var member_comment = $("#ulComment [data-inputcomment=" + id + "]").val().trim();
        var newComment = {
            postId: id,
            member_comment: member_comment
        };
        $.ajax("/success/comment", {
            type: "POST",
            data: newComment
        }).then(() => {
            // location.reload();
        })
    };

    function exeDelPost(element) {
        var id = $(element).data('delpost');
        console.log(id);
        $.ajax("/delpost/" + id, {
            type: "DELETE"
        }).then(() => {
            console.log("Delete Post Successfully!");
            location.reload();
        })
    }
</script>